<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{ 'tab.home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="auto">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>{{ 'tab.auto' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wishlist">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>{{ 'tab.wishlist' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ 'tab.profile' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
