<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="splash">
    <div class="splash__center">
      <div class="splash__logo">
        <span class="splash__ring splash__ring--outer"></span>
        <span class="splash__ring splash__ring--inner"></span>
        <div class="splash__badge"></div>
      </div>

      <h1 class="splash__brand">ParkEase</h1>
      <p class="splash__eyebrow">PREMIUM CAR DEALERSHIP</p>

      <div class="splash__loader">
        <div class="splash__track">
          <div class="splash__fill"></div>
        </div>
        <p class="splash__loader-label">
          ESTABLISHING SECURE<br />CONNECTION
        </p>
      </div>
    </div>

    <p class="splash__tagline">
      Refining the art of urban car dealership through precision and trust.
    </p>
  </div>
</ion-content>
